@import '~antd/dist/antd.css';
#root{
    .drag{
        -webkit-app-region: drag;
    }

    .login-button{
        margin-right: 70%;
    }
    .my-menu-appbar{
        position:relative;
        top: 10%;
        left: 70%;
    }
    .modal-login{
        top:50px;
        left:50px;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 400px;
        outline: none;
    }
}
